.ch-carousel { position: relative; }

.feature-carousel .slide-container > div > .wrapper { padding: 0; max-width: none; height: 100%; position: relative; z-index: 20; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.feature-carousel .slide-container > div > .wrapper .slide-content { width: 74.9%; max-width: 1129px; float: left; background: #fff; background: rgba(255,255,255,0); }
.feature-carousel .slide-container > div > .wrapper .slide-content .slide-inner { padding: 35px 120px; }
.feature-carousel h1.banner-title { line-height: 40px; color: #000; }
.feature-carousel[data-modes*=infinite] { overflow: hidden; }

.slide-content { z-index: 1; position: relative; max-width: 800px; margin: 0; }
.slide-content p { margin-top: 10px;color: #000; }

table.vertical-centre,
.vertical-centre tbody,
.vertical-centre tr,
.vertical-centre td { table-layout: fixed; height: 100%; width: 100%; vertical-align: middle; padding: 0; margin: 0; border-collapse: collapse; }

.associated-articles { background: none; }
.associated-articles .title a { padding-right: 40px; padding-bottom: 5px; }
.associated-articles .row { position:relative;width:99%;margin:0 auto; }
.associated-articles .row > .footer-arrow {right:0;left:auto;margin-right:-17px;}
.associated-articles .col { position: relative;margin:0;width:33%; }
.associated-articles .col .title { position: relative; height: 66px; margin-bottom: 0; }
.associated-articles .col .title a { position: absolute; bottom: 0; color: #fff;font-size: .8em; padding-right: 0;}
.associated-articles .col .title a:hover { background: none; text-decoration: underline; }
.associated-articles .col .content { min-height: 98px; margin-top: 10px; position: relative;}
.associated-articles .col .content p { margin: 0; font-size: .9em; }
.associated-padding { padding: 11px 16px; }
.associated-articles .content-height {margin-bottom:0; height: 260px}

.associated-articles img { width: 100%; height: auto; }

